.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #00334e, #005f73);
    /* border-bottom: 1px solid #ddd; */
    padding: 15px 23px; 
    font-family: Arial, sans-serif;
    color: #efefef;
  }
  
  .header-branding {
    display: flex;
    align-items: center;
  }
  
  .header-title {
    font-size: 0.9rem; 
    font-weight: 550;
    /* color: #ffffff; */
  }
  
  .header-subtitle {
    font-size: 0.7rem;
    color: #e6e6e6;
    /* margin-left: 10px; */
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    /* background-color: #007bff; */
    gap: 16px;
    margin-left: 450px;
  }
  
  .header-nav-link {
    color: #e6e6e6;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .header-nav-link:hover {
    color: #007bff;
  }
  
  .header-nav-link-sel{
    background: none;
    border: none;
    width: 73px;
    color: #e6e6e6;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
  }

  .header-dropdown {
    position: relative;
    cursor: pointer;
  }
  
  .header-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 1;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    z-index: 1000;
    /* padding: 10px 0; */
  }
  
  .header-menu-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .header-menu-item:hover {
    border-radius: 8px;
    background-color: #f1f1f1;
  }
  
  .header-auth {
    display: flex;
    align-items: center;
  }
  
  .header-auth-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .header-auth-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .header-auth-button span {
    font-size: 0.8rem;
    color: #e6e6e6;
  }
  
  .header-auth-button:hover span {
    color: #007bff;
  }
  
  .header-favourites {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-favourites img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .header-favourites span {
    font-size: 0.8rem;
    color: #e6e6e6;
  }
  
  .business-intro {
    margin-left: 20px;
  }
  
  .business-button {
    background-color: #176b8c;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .business-button:hover {
    background-color: #d3d3d3;
  }