.input-group {
    box-sizing: border-box;
    padding: 12px 10px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: rgba(253, 253, 253, 0.9);
    color: #333;
    font-family: 'Lato', sans-serif;
}

.input-group:hover {
    border-color: #0c0b0b;
}

::placeholder {
    color: #858181;
    opacity: 0.8;
}